name: Debug fsps

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:

  windows-tests:
    runs-on: windows-latest

    steps:
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Setup fortran compiler
      uses: fortran-lang/setup-fortran@v1
      with:
        compiler: gcc
        version: latest
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install fsps
